<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".PomPomApp"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/favicon_p"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/favicon_p"
        android:supportsRtl="true"
        android:theme="@style/Theme.Group6">
        <activity
            android:name=".activities.SplashActivity"
            android:exported="true"
            android:theme="@style/Theme.Group6.FullScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activities.OnboardingActivity"
            android:exported="false"
            android:theme="@style/Theme.Group6.FullScreen" />

        <activity
            android:name=".MainActivity"
            android:exported="false">
        </activity>

        <activity
            android:name=".activities.ProductDetailActivity"
            android:exported="false"
            android:theme="@style/Theme.Group6" />

        <activity
            android:name=".activities.PostDetailActivity"
            android:exported="false"
            android:theme="@style/Theme.Group6"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name=".activities.RegisterActivity"
            android:exported="false"
            android:theme="@style/Theme.Group6" />

        <activity
            android:name=".activities.LoginActivity"
            android:exported="false"
            android:theme="@style/Theme.Group6" />

        <activity
            android:name=".activities.AiCallActivity"
            android:exported="false"
            android:theme="@style/Theme.Group6"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activities.ProfileActivity"
            android:exported="false"
            android:theme="@style/Theme.Group6" />

        <activity
            android:name=".activities.AiChatActivity"
            android:exported="false"
            android:theme="@style/Theme.Group6"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name=".activities.AddCommunityPostActivity"
            android:exported="false"
            android:theme="@style/Theme.Group6"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name=".activities.StoryViewerActivity"
            android:exported="false"
            android:theme="@style/Theme.Group6.FullScreen" />
    </application>

</manifest>